---
import Hero from "../components/common/Hero.astro";
import Layout from "../layouts/Layout.astro";
import MeaLList from "../components/meal/MealList.astro";
import prisma from "../prisma";

const getMeals = async () => {
  try {
    const meals = await prisma.meal.findMany();
    return meals;
  } catch (error) {
    console.error("Erreur lors de la récupération des repas :", error);
    return [];
  } finally {
    await prisma.$disconnect(); // Déconnexion de Prisma
  }
};

const meals = await getMeals();
---

<Layout title="Liste des plats">
  <Hero />
  <h2>Liste des plats</h2>
  <p class="paragraph">
    Retrouvez la liste de nos délicieux plats proposés par la communauté.
  </p>
  <MeaLList meals={meals} />
</Layout>
